.collection_container {
  background-color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 15px;
  }
}
