.login_container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding-bottom: 125px;
  min-height: calc(100vh - 125px);
  .header {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    img {
      max-width: 150px;
    }
  }
  .button_register {
    // width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      color: #868383;
      font-size: 16px;
      max-width: 400px;
      padding: 10px;
    }
    span {
      color: red;
      cursor: pointer;
    }
  }
}
.form_login {
  padding: 0px 20px;
  button {
    border: none;
    background-color: #f2826c;
    color: #fff;
    font-weight: 600;
  }
}
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  img {
    max-width: 150px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 40px;
}
